<div class="grid-row">
<div id="editor">
  <h2>Source code:</h2>
    {{ivy-codemirror 
      value=code 
      options=(hash 
      lineNumbers=true 
      mode=mode 
      matchBrackets=true
      theme=theme)
      valueUpdated=(action 'buildTree')
    }}
    <h2>Transform code:</h2>
    {{ivy-codemirror 
      value=transform 
      options=(hash 
      lineNumbers=true 
      mode=mode 
      theme=theme 
      foldGutter=true 
      readOnly=true)}}
</div>
<div id="mynetwork"></div>
</div>